.registar
  %h2 ユーザー新規登録
  = form_for(@user, url: user_registration_path) do |f|
    = render "devise/shared/error_messages", resource: @user
    .field
      .display
        .label ニックネーム
        .block 必須
      %em
        (15文字まで)
      %br/
      = f.text_field :nickname, autofocus: true, maxlength: "15"
    .field
      .display
        .label メールアドレス
        .block 必須
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email"
    .field
      .display
        .label パスワード
        .block 必須
      - if @minimum_password_length
        %em
          ( 7字以上 )
      %br/
      = f.password_field :password, autocomplete: "new-password"
    .field
      .display
        .label パスワード確認
        .block 必須
      %br/
      = f.password_field :password_confirmation, autocomplete: "new-password"
    .actions
      = f.submit "プロフィール入力"
    = render "devise/shared/links"
