.registar
  %h2 プロフィール
  = form_for @profile do |f|
    = render 'devise/shared/error_messages', resource: @profile
    .field
      .display
        .label 名前 （漢字・かな入力）
        .block 必須
      %br/
      = f.text_field :first_name, autofocus: true
    .field
      .display
        .label 苗字 （漢字入力）
        .block 必須
      %br/
      = f.text_field :family_name, autofocus: true
    .field
      .display
        .label 名前かな
        .block 必須
      %br/
      = f.text_field :first_name_kana, autofocus: true
    .field
      .display
        .label 苗字かな
        .block 必須
      %br/
      = f.text_field :family_name_kana, autofocus: true
    .field        
      .display
        .label 生年月日
        .block 必須       
      %br/        
      = f.date_select :birth_date, use_month_numbers: true,start_year: 1930, end_year: (Time.now.year - 10), default: Date.new(1989, 1, 1)
    .actions
      = f.submit "住所登録"