=render partial:"items/header"
.user
  .user_side
    .user_side_menu
      = link_to "#" do
        トップページ
    .user_side_menu
      = link_to "#" do
        マイページ
    .user_side_menu
      = link_to "#" do
        お気に入り商品一覧
    .user_side_menu
      = link_to "#" do
        出品する
    .user_side_menu
      = link_to "#" do
        出品中の商品一覧
    .user_side_menu
      = link_to "#" do
        売却済の商品一覧
    .user_side_menu
      = link_to "#" do
        コメントがついた商品一覧
    .user_side_subtitl
      各種設定
    .user_side_menu
      = link_to "#" do
        会員情報の編集
    .user_side_menu
      = link_to "#" do
        お届先住所の編集
    .user_side_menu
      = link_to "#" do
        お支払い情報の登録
    .user_side_menu
      = link_to "#" do
        ログアウト
  .user_body
    .user_body_bgc
      .userlisence
        .userlisence-title
          Trading License
        .userlisence-name
          勇者おきなか
      .prof
        .prof_data
          登録日
        .prof_data
          現在の出品数：0
        .prof_data
          コメントされた数：0
        .prof_data
          コメントした数：0
    .user_body_subtitle
      最近出品した商品
    .user_body_lists

