.header
  .headerInner
    .headerInner__mainHeader 
      .headerInner__mainHeader__icon 
        =link_to root_path, class: "headerInner__mainHeader__icon__img" do
          =image_tag 'material/logo/logo.png' 
      .headerInner__mainHeader__search-box
        .headerInner__mainHeader__search-box__form
          = form_with url: "#", method: :get, lacal: true,class: "form" do |f|
            = f.text_field :search, class: "input-text", placeholder: "キーワードから探す"
            = f.button class: "submit-btn" do
              .searchBox__icon
                = image_tag "material/icon/icon-search 1.png", alt: "検索"
    .headerInner__nav
      %ul.list-left
        %li.list-left__category-list
          = link_to "#", class: "btn", id: "left-category" do
            カテゴリー              
        %li.list-left__brand-list
          = link_to "#", class: "btn", id: "left-category" do
            ブランド
      %ul.list-right
        %li.list-right__log-in
          - if user_signed_in?
            = link_to destroy_user_session_path, class:"right-btn", method: :delete do
              ログアウト
          - else
            = link_to new_user_session_path, class:"right-btn", method: :get do
              ログイン
        %li.list-right__sign-up
          - if user_signed_in?
            = link_to user_path(current_user.id), class:"right-btn", method: :get do
              マイページ
          - else
            = link_to new_user_registration_path, class:"right-btn", method: :get do
              新規会員登録