%html
  %body
    .main
      .header
      -# ここに商品一覧昨日で実装済みのものを実装します。
      .topContent
        .itemBox 
          .itemBox__title 
            =@item.name
          .itemBox__image 
            %ul.itemBox__image--main
              %li
                = image_tag(@images_first.src.url, class: "main__photo", size: "100x100")
                .itemBox__image--main--sub 
                  %ul.itemBox__image--main--sub--list
                    - @images.each do |img|
                      %li
                        = image_tag(img.src.url, class: "sub__photo", size: "75x75")
          .itemBox__price 
            %span 
              =@item.price
              円
            .itemBox__price--detail
              %span (税込) 送料込み
          .itemBox__detail この商品は世界に１枚しかない代物です。
          %table
            %tr
              %td 出品者
              %td.table__detail
            %tr
              %td カテゴリー
              -# （実装次第変更をかける）
              %td トップス
            %tr
              %td.table__title ブランド
              %td
                =@item.brand.name
            %tr
              %td.table__title サイズ
              -# （実装次第変更をかける）
              %td Mサイズ
            %tr
              %td.table__title 商品の状態
              %td 
                =@item.condition.name
            %tr
              %td.table__title 配送料の負担
              %td
                =@item.postagepayer.name
            %tr
              %td.table__title 発信元の地域
              %td 
                =@item.prefecture.name
            %tr
              %td.table__title 発送日の目安
              -# （実装次第変更をかける）
              %td 
                =@item.preparationdays.name
        .commentBox
          =form_with() do |form|
            = form.text_area :text, cols: "40", rows: "4", class: "commentBox__textbox"
            %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
            .commentBox__form
              = form.submit "コメントする", class: "commentBox__form--submit"
              %i.fas.fa-comment
        %ul.links
          %li= link_to '前のページ'
          %li= link_to '後ろのページ'

        
          -# 出品者用機能
          -# - if user_signed_in? && current_user.id == item.saler_id
          -# = link_to '編集', edit_item_path(items.id), method: :get
          -# = link_to '削除', item_path(items.id), method: :delete
          -#  end


          -# 出品者以外用機能
          -# - if user_signed_in? && current_user.id != item.saler_id
          -# = link_to '購入画面へ', _path(items.id), method: :
          -#  end


        -# 商品閲覧
        -#   if current_user && current_user = nil


        -# %i.fas.fa-comment

