%html
  %body
    .header
    .main
      .topContent
        .itemBox 
          .itemBox__title 
            =@item.name
          .itemBox__image 
            %ul.itemBox__image--main
              %li
                = image_tag(@images_first.src.url, class: "main__photo", size: "100x100")
                .itemBox__image--main--sub 
                  %ul.itemBox__image--main--sub--list
                    - @images.each do |img|
                      %li
                        = image_tag(img.src.url, class: "sub__photo", size: "75x75")
          .itemBox__price 
            %span 
              =@item.price
              円
            .itemBox__price--detail
              %span (税込) 送料込み
          .itemBox__detail この商品は世界に１枚しかない代物です。
          %table
            %tr
              %td 出品者
              %td.table__detail
                =@user.nickname
            %tr
              %td カテゴリー
              - if [46, 74, 134, 142, 147, 150, 158].include?(@category_id)
                %td
                  = link_to "#{@category_child.name}","#"
                  %br= link_to "#{@category_grandchild.name}","#" 
              -else
                %td
                  = link_to "#{@category_parent.name}","#"
                  %br/
                  = link_to "#{@category_child.name}","#"
                  %br= link_to "#{@category_grandchild.name}","#"
            %tr
              %td.table__title ブランド
              %td
                =@item.brand.name
            %tr
              %td.table__title サイズ
              %td Mサイズ
            %tr
              %td.table__title 商品の状態
              %td 
                =@item.condition.name
            %tr
              %td.table__title 配送料の負担
              %td
                =@item.postagepayer.name
            %tr
              %td.table__title 発信元の地域
              %td 
                =@item.prefecture.name
            %tr
              %td.table__title 発送日の目安
              %td 
                =@item.preparationdays.name
             
          .mainShow__box__content__top__editDeleteBuy
          - if user_signed_in?
            - if current_user.id == @item.saler_id
              = link_to "商品の編集", edit_item_path(@item.id), data: {"turbolinks" => false} , class: "edit"
              = link_to "商品の削除", item_path(@item.id), method: :delete, data: { confirm: "【確認】マンガを削除してもよろしいですか？" }, class: "destory"
            - else 
              -# リンク先は購入実装画面が完了してから足す予定です
              = link_to "購入画面に進む" 
        
      
        .commentBox
          =form_with() do |form|
            = form.text_area :text, cols: "40", rows: "4", class: "commentBox__textbox"
            %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
            .commentBox__form
              = form.submit "コメントする", class: "commentBox__form--submit"
              %i.fas.fa-comment
        %ul.links
          %li= link_to '前のページ'
          %li= link_to '後ろのページ'
      
  =render"footer"